body {
    font-family:'Roboto', sans-serif; ;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: blue;
}

/* ASIDE  */
aside {
    width: 80px;
    height: 100vh;
    background-color: brown;
}

/* MAIN-CONTENT  */
.main-content {
   width: calc(100% - 80px);
   height: 100vh;
   background-color: coral;
}

.ms_content_top {
    height: 200px;
    width: 100vw;
    background-color: chartreuse;
}

.prossime-classi {
   
    background-color: yellow;
}

.faq {
    
    background-color: pink;
}

.todo {
    
    background-color: green;
}

.utenti-attivi {
   
    background-color: orange;
}


/* RESPONSIVE */
@media screen and (min-width: 992px) {
    aside {
        width: 120px;
   } 

   .main-content {
    width: calc(100% - 120px);
   }

}