body {
    font-family:'Roboto', sans-serif; ;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* HEADER */
.ms_header {
    width: 100%;
    height: 100px;
}

.ms_img_logo {
    width: 40px;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 100px);
}

/* ASIDE  */
aside {
    width: 80px;
    height: 100vh;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

/* MAIN-CONTENT  */
.main-content {
   width: calc(100% - 80px);
   height: 100vh;
}

.ms_content_top {
    height: 300px;
    width: 100vw;
    background-color: #1B72E8;
}

.ms_img_avatar {
    width: 25px;
}

.ms_badge {
    background-color: #165BBA;
}
/* RESPONSIVE */
@media screen and (min-width: 992px) {
    aside {
        width: 150px;
   } 

   .main-content {
        width: calc(100% - 150px);
   }

   .ms_img_logo_lg {
        width: 100%;
        padding-top: 5px;
    }
}

@media screen and (min-width: 768px) {
    .ms_content_top {
        height: 150px;
    }
}

.ms_aside_top div:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.ms_aside_bot div:hover {
    background-color: rgb(255, 255, 255, 0.7);

}

.badge:hover {
    background-color: #123a71;
}